#!/usr/bin/env bash

{{ range (glob (joinPath .chezmoi.sourceDir "private_dot_config/waybar/**/*.scss")) -}}
# {{ include . | sha1sum }}
{{ end -}}

cd $XDG_CONFIG_HOME/waybar
sass --style=compressed --no-source-map style.scss style.css
