@use "../variables" as *;

#battery {
  &.charging,
  &.plugged {
    background-color: $color-container-success;
  }

  &:not(.charging) {
    &.warning {
      background-color: $color-container-warning;
    }

    &.critical {
      background-color: $color-container-destructive;
    }
  }
}
