@use "../variables" as *;

#backlight,
#battery,
#clock,
#network,
#language,
#power-profiles-daemon,
#pulseaudio,
#temperature,
#tray,
#window {
  color: $color-text;
  background: $color-container;

  border-radius: $container-border-radius;
  margin: 0 $container-gap;
  padding: 0 $container-padding;
}
