// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://yalter.github.io/niri/Configuration:-Introduction

include "animations.kdl"
include "input.kdl"
include "key-bindings.kdl"
include "layer-rules.kdl"
include "layout.kdl"
include "miscellaneous.kdl"
include "outputs.kdl"
include "switch-events.kdl"
include "window-rules.kdl"
