$font-size: 14px;
$font-family: "JetBrains Mono", "Symbols Nerd Font";

$color-text: #d9d9d9;
$color-success: #6fb348;
$color-warning: #ff6600;
$color-secondary: #555;
$color-destructive: #ff2222;

$color-background: #0f0f0f;
$color-container: #202020;
$color-container-success: #538038;
$color-container-warning: #b35900;
$color-container-destructive: #800000;

$container-gap: 2px;
$container-spacing: 8px;
$container-padding: 12px;
$container-border-radius: 10px;
