[Unit]
Description="A solution to your Wayland Wallpaper Woes"

After=graphical-session.target
PartOf=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=notify

ExecStart=/usr/bin/awww-daemon --namespace "-%i"

Restart=on-failure
RestartSec=3s

[Install]
WantedBy=graphical-session.target
