layer-rule {
  match namespace="^awww-daemon-backdrop$"

  place-within-backdrop true
}

layer-rule {
  match namespace="^launcher$"
  /-match namespace="^notifications$"

  background-effect {
    blur true
	  xray false
  }
}
